@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color:rgb(226, 165, 165);
    --primary-color-dark:rgb(243, 208, 215,1);
    --text-dark:rgb(112, 92, 83,1);
    --text-light:#767268;
    --white:#ffffff;
    --max-width:1200px;
    --header-font:"Bebas Neue" , sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    transition: 0.3s;

}

nav{
    position: fixed;
    isolation: isolate;
    width: 100%;
    z-index: 9;
}
.collapse{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10%;
}
.nav-item a{
    font-size: 10px;
}

.nav_header {
    padding: 1rem;
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
}

.nav_logo a {
    font-size: 1.50rem;
    font-weight: 400;
    font-weight: var(--header-font);
    color: var(--white);

}

.container-text{
    width: 40%;
     
}
.container1{
    width: 100%;
    display: flex;
}
     .nav_logo a { 
        color: var(--text-dark);
    }

    .nav_logo a span { 
        color: var(--primary-color);
    }

     .nav_menu_btn {
        display: none;
    }

    .nav_links a:hover {
        border-color: var(--primary-color);
    }

    .nav_btns .btn {
        padding: 0.75rem 1.5rem;
        outline: none;
        border: none;
        font-size: 1rem;
        white-space: nowrap;
        border-radius: 10px;
        transition: 0.3s;
        cursor: pointer;
    }

    .container1{
        font-size: 19px;
        color: #767268;
    }
    .container1 h1 {
        color: #767268;
    }

    .container h2 {
        font-family: "Prata", serif;
        font-size: 65px;
        color: rgb(250, 135, 158);
    }

    .container p{
        color: #767268;
        font-weight: 100;
        /* font-size: 30px; */
    }
    .container h3 {
        color: #767268;
    }

    .container h5{
        font-family: "Prata", serif;
        color: #767268;
        font-size: 30px;
    }

    .container2 p{
        color: #767268;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: xx-large;
    }

    .container2{
        justify-content: center;
    }

    .container2 h6{
        font-size: 20px;
        color: #fa879e;
        font-weight: 100;
    }

    body {
        font-family: Arial, sans-serif;

        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #B7B7B7; /* light pink background */
    }
    
    .container3 {
        display: flex;
        /* border: 2px solid blue; Blue border around the container */
        padding: 10px;
    }
    
    .box {
        flex: 1;
        text-align: center;
        padding: 20px;
        margin: 5px;
        background-color: rgba(236, 236, 236, 0.8); /* light grey background for boxes */
        /* border: 2px solid white; space between the boxes */
        font-size: 18px;
        font-weight: lighter;
    }
    
  .custom-btn {
    background-color: #ff5733; /* Warna custom */
    color: white; /* Warna teks */
  }
    

    .card_body {
        background-color: rgb(226, 165, 165);
    }


/************** Katalog css ***********************/
