.card-container {
    display: flex; /* Mengatur elemen di dalamnya agar kesamping */
    justify-content: center; /* Mengatur posisi card di tengah */
  }
  
  .card {
    display: flex;
    flex-direction: column; /* Agar elemen di dalam card tetap vertikal */
    align-items: center; 
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  